.total_login{
    height:100vh;
    width: 100vw;
    overflow: auto;
}

.base_login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: auto;
    background:url("https://i.pinimg.com/originals/ae/ab/e5/aeabe54da1806324300ad9dba1f9c5a3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-y: center;
    overflow: auto;
}

.conteiner_login {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex-grow: 1;
}


.inputs_login {
   display: flex;
   margin-left: 32px;
   margin-right: 32px;
   flex-direction: column;
   position: relative;
}

.cadastroButton_login {
    margin-top: 10px;
}

.homeButton_login {
   display: flex;
   margin-top: 5px;
   margin-left: 50px;
   margin-right: 50px;
}

@media only screen and (max-width:1050px){
    .base_login {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: auto;
        background:url("https://i.pinimg.com/originals/ae/ab/e5/aeabe54da1806324300ad9dba1f9c5a3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        overflow: auto;
    }
    
}