
.total_perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(darkred,#f41c358f,#fc2e008f, #ec7e108f, #f69d0d8f,#FFBC0A8f,#FFBC0A8f,#FFBC0A8f,#FFBC0A8f,#FFBC0A8f, darkred);
    /*background-image: url("https://image.freepik.com/vetores-gratis/bokeh-cintilante-amarelo-brilha-fundo-bonito-design_1017-24777.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; */
}

.header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    position: relative;
}


.perfil_section {
    background-color: rgba(255, 255, 255, 0.287);
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.infos_avatar{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
}

.infosPerfil {
    display: flex;
    align-self: flex-start;
}

.infosPerfilMobile{
    display: none;
}

.botao {
    margin-left: auto;
}

.container_perfil {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    z-index: 0;
    position: relative;
}

.avatar_nome {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

.textosPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrossel_perf {
    width: 300px;
    align-self: center;
    align-content: center;
    align-items: center;
    display: none;
}

.image_car {
    height: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center center;
    width: 80%;
    border-radius: 0.9cm;
    align-self: center;
}

.imgDisp {
    display: grid;
    margin-top: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    align-items: center;
}

.infos_perf {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.infos2 {
    font-size: 100%;
}

.swiper-container {
    display: flex;
    flex-direction: row;
    height: 50px;
}


@media only screen and (max-width: 970px){
    .header {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        position: relative;
        font-size: 0.75em;
    }

    .perfil_section {
        align-content: center;
        margin-left: 2%;
        margin-right: 2%;
    }

    .infosPerfil {
        display: none;
        align-self: flex-start;
    }
    .infosPerfilMobile{
        display: flex;
    }
    .container_perfil {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        z-index: 0;
        position: relative;
    }

    .carrossel_perf {
        width: 300px;
        justify-self: center !important;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .imgDisp {
        display: none;
    }
}

@media only screen and (max-width:335px){
    .carrossel_perfil{
        width: 220px;
    }

    .image_car{
        height: 150px;
    }
    .imgDisp {
        display: none;
    }

    .perfil_section {
        max-height: 550px;

    }
}

@media only screen and (min-width:600px){
    .infosPerfil{
        display: flex;
        justify-content: flex-end;
    }
}