.PaiPinturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#d000005b, #ffb9085b);
    min-height: 100vh;
}

.seletor_pinturas {
    margin-bottom: 30px;
}

.teste {
    max-width: 100vw;
}
.titulo_info_pinturas {
    font-size: 30px !important;
    margin-top: 100px !important;
    color: white;
  }

.imgDisp_pinturas{
    display: grid;
    grid-template-columns: repeat(2,minmax(400px,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 2%;
}

.image_car_pinturas {
        justify-self: center !important;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        max-height: 600px;
}

@media only screen and (max-width:1000px){
    .imgDisp_pinturas{
        display: grid;
        grid-template-columns: repeat(1,minmax(300px,1fr)) !important;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        align-items: center;
        justify-items: center;
    }  

    .image_car_pinturas {
        width: 300px;
    }
    .titulo_info_pinturas {
        font-size: 30px !important;
        margin-top: 100px !important;
      }
      
      .descricao_info {
        font-size: 10px !important;
        color: #ffffff;
      } 
      .total_modal {
        display: flex;
        flex-direction: column;
        margin-top: 10% !important;
      }

      .container_comentarios_pinturas{
          width: unset !important;
      }
}