.footer_ct {
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(grey,black);
}
.icons_footer{
    display: flex;
}
.image_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13%;
}
.image_footer img{
    padding: 12px;
    padding-right:8px;
    z-index: 2;
}
.userName_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    font-size: 1.1rem;
    max-width: 20%;
    font-family: 'Girassol', cursive;
    font-size: 25px;
    color:white;
    z-index: 1;
}
.vertical_footer{
    border-left: 1px solid white;
    height: auto;
    margin-right: 8px;
    margin-bottom: 8px;
}
.icons_redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.guia_footer{
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 2%;
    border-top:1px solid white;
}
.frase{
    font-family: 'Girassol', cursive;
    font-size: 3vmax;
    color:white;
    max-width: 50%;
    margin-left: auto;
}
.base_footer{
    display: flex;
    justify-content:space-around;
    margin: auto;
    max-width: 30%;
    font-size:large;
}
.back_footer{
    background-image: url("https://images.unsplash.com/photo-1604580864964-0462f5d5b1a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size:cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.footer_ct img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.footer_ct section{
    display: flex;
    justify-content:space-around;
    z-index: 1;
    width: 100%;

}
.text-uppercase{
    width: auto;
}
.link_footer{
    z-index: 1;
    font-weight: bold;
    padding-right:8%;
    font-family: 'Cabin', sans-serif;
    width: auto;
    color:white;
}
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');