.footer {
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons_footer{
    display: flex;
}
.image_footer img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    padding-right:0;
}
.userName_footer{
    display: flex;
    align-items: center;
    margin:0;
    margin-left: 10px;
    font-size: 1.1rem;
    max-width: 200px;
    font-family: 'Girassol', cursive;
    font-size: 25px;
    color:rgb(0, 0, 0);
}
.icons_redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.guia_footer{
    display: flex;
    align-items: center;
    padding: 25px;
}
.frase{
    font-family: 'Girassol', cursive;
    font-size: 40px;
    color:rgb(44, 17, 17);
    max-width: 50%;
    margin-left: auto;
}
.base_footer{
    display: flex;
    justify-content:space-around;
    margin: auto;
    max-width: 15%;
}
.back_footer{
    background-image: url("https://images.unsplash.com/photo-1604580864964-0462f5d5b1a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size:cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.footer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}
.footer section{
    display: flex;
    justify-content:space-around;
    z-index: 1;

}
.text-uppercase{
    width: auto;
}
.link_footer_historia{
    z-index: 1;
    font-weight: bold;
    padding-right:8%;
    font-family: 'Cabin', sans-serif;
}
.link_footer_contato{
    z-index: 1;
    font-weight: bold;
    padding-right:8%;
    font-family: 'Cabin', sans-serif;
}
.link_footer_paginas{
    z-index: 1;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');